<li class="post-wrapper">
  <%= link_to post.title, post_path(post.slug), class: 'post-title' %>
  <div class="post-meta">
    <div class="time-wrapper">
      <time class="created-at"><%= post.created_at.strftime('%A, %Y-%m-%d') %></time>
    </div>

    <% unless post.tags.size.zero? %>
    <div class="tag-list">
      <% post.tags.each do |t| %>
      <span class="tag"><%= t.name %></span>
      <% end %>
    </div>
    <% end %>
  </div>
  <p class="post-excerpts"><%= post.excerpt.truncate(200) %></p>
  <div class="btn-wrapper">
    <%= link_to 'Read More', post_path(post.slug), class: 'read-more' %>
  </div>
</li>
