<turbo-stream action="replace" target=<%= "table_online_#{post.id}" %>>
  <template>
    <td id=<%= "table_online_#{post.id}" %>>
      <%= boolean_tag(post.online) %>
    </td>
  </template>
</turbo-stream>

<turbo-stream action="replace" target=<%= "toggle_link_#{post.id}" %>>
  <template>
    <%= toggle_link(post) %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target=<%= "toggle_button_#{post.id}" %>>
  <template>
    <%= toggle_button(post) %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="alert-area">
  <template>
    <div id="alert-area">
      <%= alert_area %>
    </div>
  </template>
</turbo-stream>
