<% content_for :header do %>
  <div class="stone-header">
    <div class="stone-navbar">
      <%= active_link_to 'Daskboard', musk_root_path, class: 'stone-navbar-item', active: :exact %>
      <%= active_link_to 'Post', musk_posts_path, class: 'stone-navbar-item' %>
      <%= active_link_to 'Category', musk_categories_path, class: 'stone-navbar-item' %>
    </div>
    <div class="stone-navbar">
      <%= link_to 'Logout', musk_sign_out_path, class: 'stone-navbar-item', data: { method: 'DELETE' } %>
    </div>
  </div>
<% end %>


<% content_for :content do %>
  <div id="alert-area">
    <%= alert_area %>
  </div>

  <%= yield %>
<% end %>

<%= render template: "layouts/musk/application_slim" %>
