<% content_for :title, @post.title %>
<% content_for :description, @post.excerpt %>
<% content_for :keywords, @post.tags.join(", ") %>

<% content_for :structured_data do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "<%= @post.title %>",
      "datePublished": "<%= @post.created_at %>",
      "dateModified": "<%= @post.updated_at %>",
      "author": {
        "@type": "Person",
        "name": "lanzhiheng"
      },
      "description": "<%= @post.excerpt %>",
      "publisher": {},
      "image": {}
    }
  </script>
<% end %>

<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name"><%= @post.title %></h1>
    <div class="post-meta">
      <div class="time-wrapper">
        <time class="created-at">Date: <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %></time>
        <time class="updated-at">Last Updated: <%= @post.updated_at.strftime('%Y-%m-%d %H:%M') %></time>
      </div>

      <% unless @post.tags.size.zero? %>
        <div class="tag-list new-line">
          <% @post.tags.each do |t| %>
            <span class="tag"><%= t.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </header>

  <div class="post-content">
    <%= @post.content %>
  </div>
</article>

<div id="disqus_thread"></div>

<% if Rails.env.production? %>
  <script>
   /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
   var disqus_config = function () {
     this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = '<%= @post.slug %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
   };
   (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');
     s.src = 'https://lanzhiheng.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
   })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end %>
