<% content_for :title, "Contact Me" %>
<% content_for :description, "Contact the author in this page." %>

<div class="contact-form">
  <h1 class="title">Contact Me</h1>
  <%= form_with(url: contact_me_path, id: 'ajaxForm') do %>
    <div class="field">
      <%= label_tag(:name, "Name") %>
      <%= text_field_tag(:name, nil, placeholder: "Your Name") %>
    </div>
    <div class="field">
      <%= label_tag(:email, "Email:") %>
      <%= text_field_tag(:email, nil, placeholder: "Your Email", type: "email") %>
    </div>
    <div class="field">
      <%= label_tag(:content, "Content:") %>
      <%= text_area_tag(:content, nil, placeholder: "...", rows: 6) %>
    </div>
    <button class="btn" type="submit">SEND</button>
  <% end %>
</div>
