<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>" />
    <meta name="author" content="<%= meta_author %>" />
    <meta name="keywords" content="<%= meta_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag -%>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :structured_data %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render 'application/header' %>
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <%= yield %>
        </div>
      </main>
    </div>
    <footer class="footer">
      <div class="copy">Copyright © <%= Time.now.strftime("%Y") %> Lan. Powered by <a target="_blank" href="https://rubyonrails.org/">Rails</a>.</div>
    </footer>
  </body>
</html>
