<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Step By Step' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render 'application/header' %>
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <%= yield %>
        </div>
      </main>
    </div>
    <footer class="footer">
      <div class="copy">Copyright © <%= Time.now.strftime("%Y") %> Lan. Powered by <a target="_blank" href="https://rubyonrails.org/">Rails</a>.</div>
    </footer>
  </body>
</html>
